<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div>
  <h1 style="text-align: center;">Goals web Application</h1>
  <!-- <p>The goal will be {{goal}}</p> -->
  <hr>
  <!-- <h2>The title will be</h2> -->
  <!-- <p>{{title}} is the title for this site</p> -->
  <!-- <p>{{partingShort}}</p> -->

  <!-- Implementing the construction part -->

  <!-- <ul>
    <li *ngFor='let close of Close'>
      {{close}}
    </li>
    <hr>
    <li *ngFor="let school of schools">
      {{school}}
    </li>
    <hr>
    <li *ngFor="let goalz of goals">
      {{goalz}}
    </li>
  </ul> -->

<!-- <app-goal></app-goal> -->

<!-- The ol for schools -->
<!-- <ol>
  <li *ngFor="let school of schools">
    {{school.name}}
  </li>
</ol>
<hr> -->
<!-- the if statament for schools -->

<!-- Updated moddle for schools -->
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
    <ul>
      <div *ngFor="let school of schools; let i = index">
        <li appStrikethrough>{{school.name}} due on {{school.completeDate}}}</li>
        <button class="btn btn-outline-success" (click)="toggleDetails(i)">Toggle Details</button>
        <app-goal-detail-component *ngIf="school.showDescription" [school] = 'school' (isComplete)="completeSchool($event,i)"></app-goal-detail-component>
        <app-goal-detail-component *ngIf="school.showDescription" [school] = 'school' (isComplete)="schoolDelete($event,i)"></app-goal-detail-component>
      </div>
    </ul>
  </div>
    <div class="col-6">
      <app-school-form (addSchoool)="addNewSchool($event)"></app-school-form>
    </div>
  </div>
    <h4 *ngIf="schools.length > 4"> Chose and delete the school you like</h4>
     <br>
      <p>The application should be working just fine.</p>
    </div>
  </div>

